html {
    
    background-color: #1f2040;
    font-family:  Tahoma, Arial, Helvetica, sans-serif;
    color:#a2f2f1;
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.page {
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.section {
    
    background-color:#0a2561;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.section h1,
.section h2 {
    background-color: #0d87a6;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    text-align: center;
    border: 1px solid #fff;
    

}
.section .sectionbody{
    padding: 20px;
    padding-bottom: 30px;
    width:100%;
    display: flex;
    flex-direction: column;

}
.section .sectionbody p,
.section .sectionbody ul,
.section .sectionbody ol {
    margin: 20px;
    justify-self:center;
}
#profilelink:link,
#profilelink:visited {
    display: block;
    background-color: #0d87a6;
    text-decoration: none;
    border-radius: 8px;
    text-align:center;
    color: #a2f2f1;


    width: 100px;
    padding: 15px;
    margin: 30px auto;
}
#profilelink:hover {
    background-color: darkblue;
    color: darkcyan;

}
#proflielink:active {
    background-color: #a2f2f1;
    color: darkblue;

    padding: 10px;
}
.navbar{
    display:flex;
    justify-content: space-between;

    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0;
    
}
.navitem {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    flex: 1;
    
    color:#a2f2f1;
    text-decoration: none;
    background-color: #0d87a6;
    text-align: center;
    align-self: center;
}
.navitem:hover, .navitem:active{
    background-color:darkblue;
}
@media only screen and (min-width: 961px) {
    .page {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-around;

    }
    .intro {
        width:100%;
    }
    .experience,
    .projects,
    .contact {
        width: 31%;
        
    }
    .navbar {
        width: 700px;
        margin: 0 auto;
        padding-bottom: 5vh;
    }
    .navitem {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}